:root {
    --base-background-color: #282b42;
    --header-color: #2a2d44;
    --border-color: #2a334b;
    --button-color: #31374b;
    --icon-color: #717981;
    --text-editor-background: #262940;
    --foreground-color: #bbbbbb;
    --secondary-color: #242942;
    --code-block-color: #2e3149;
    --highlight-color: #2d3047;
    --accent-color: #578CDA;
    --info-foreground: #7b8bab;
    --diff-modified: #1A233D;
    --diff-inserted: #142D14;
    --diff-conflict: #422121;
    --diff-deleted: #242424;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    height: 100%;
    width: 100%;
}
